body{
	background-color: black;
}

#gameWindow{
	position: relative;
	width: 500px;
	height: 300px;
	margin: 0 auto;
	background-color: white;
	overflow: hidden;
	cursor: url(crosshair.gif),crosshair;
}

.monkey{
   position: absolute;
   z-index: 10;
   width: 80px;
   
   -webkit-user-select: none;
   -moz-user-select: none;
   -ms-user-select: none;
   user-select: none;
}
